body {
	font-family:Roboto;
	font-weight: 300;
}

.center {
	text-align: center;
}

#mvp-picker {
  background: lightblue;
}

.sphere {
  fill: lightblue;
}

.land {
  fill: #12bd00;
  opacity: .5;
  stroke: lightblue;
}

.boundary {
  fill: none;
  stroke: lightblue;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.container {
	width: 100% !important; 
	padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#mvp-stats {
	background: #e1e1e1;
	height: 500px;
}

#title {
	background: black;
	color: white;
}

div.tooltip { 
      position: absolute;     
      text-align: left;     
      width: 370px;         
      height: 170px;          
      padding: 5px;       
      font: 12px sans-serif;    
      background: #596375;
	  color: white;
      border: 0px;    
      border-radius: 8px;     
      pointer-events: none;     
    }
div.tooltip img {
	padding: 5px;
}
div.tooltip h4 {
	margin: 0;
	padding-top: 5px;
}